:root {
    --primary-color: rgb(21, 94, 132);
    --light-color: white;
    --border-color: black;
    --aside-bg: #eee;
    --aside-text: # 333;
    --standard-margin: 1em;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--light-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: var(--standard-margin);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--standard-margin);
    background-color: var(--aside-bg);
    color: var(--aside-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--standard-margin);
    border-top: 1px solid var(--border-color);
    text-align: center;
}