* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(21, 94, 132);
    --light-color: white;
    --border-color: black;
    --aside-bg: #eee;
    --aside-text: # 333;
    --standard-margin: 1em;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

main {
    max-width: 640px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--light-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    max-width: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 80px;
}

footer {
    margin-top: var(--standard-margin);
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}